/*-- CSS modified by CASP WIP  --*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Montserrat:400');


/*--- ====1==== ---*/
@media only screen {
/* SMALL all device */
/* Global settings */
body {
  background-color: black;
  color: #dce0df;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
	}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
	}
section{
		padding: 0 0 30px 0;
	}
a {
  color: #FFC85A;
	}
a:hover {
  color: #e15103;
  text-decoration: none;
	}
h2 {
  margin-bottom: 2%;
  margin-top: 4%;
  letter-spacing: 0.1em;
  word-spacing: 0.17em;
  text-transform: uppercase;
	}
.title {
  font-size: 1.6em;
  text-align: center;
	}
.paragraph {
	color: #7F7F7F;
	font-size: 1.1em;
	text-align: left;
	width: 100%;
	margin: 0 auto 30px auto;
	line-height: 1em;
	}
.row {
	display: flex;
	margin: 0;
	}
.center {
	text-align: center;
	}
.centerContent {
	margin-left: auto;
	margin-right: auto;
	}

/* The navigation bar */
.navbar-custom {
	width: 100%;
	background-color: rgba(15,15,15,0);
	list-style: none;
	margin: 0;
	padding: 0;
	top: 0;
	text-align: center;
	position: fixed;
	z-index: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	}
.navbar-custom li {
  display: inline;
	}
#top_logo{
	display: none;
	}
	
/* Links inside the navbar */
.link-item {
	text-decoration: none;
	display: inline-block;
	font-size: 0.8em;
	margin-bottom: 5px;
	padding: 0 2%;
	}
.list-item {
  padding: 0.1%;
	}
.list-item a {
	text-decoration: none;
	}
	
/* Header */
.headerContainer {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 6%;
	}
#headerlogo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 290px;
	}
#headerimg {
	width: 100%;
	height: 75%;
	top: 0;
	left: -30px;
	background: url("img/header.jpg") no-repeat center fixed; 
	background-size: cover;
	}
.blackBarTop::before {
	content: "";
	display: block;
	height: 20px;
	background: url("img/black_texture_flip.png") repeat-x top;
	}
.blackBarBottom::after {
	content: "";
	display: block;
	height: 100%;
	margin-top: -20px;
	background: url("img/black_texture.png") repeat-x bottom;
	}

/* Introduction */
.flexContainer {
	display: box;
	}
.col1 {
  margin-top: 3.3%;
  order: 2;
  width: 50%;
	}
.col2{
  order: 1;
	}
.centralText{
	margin: 0 8%;
	}
.col3 {
  margin-top: 3.3%;
  order: 3;
  width: 50%;
	}

/* Parallax image */
#miniatures {
  background-image: url("img/miniatures.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	}
#worldmap {
  background-image: url("img/worldMap.png");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	}
.container-fluid{
	padding: 0;
	}

/* The Scroll */
#thescroll {
  text-align: center;
	}
#scrollIcon {
  margin: 2% 0 2% 0;
	}
.conte {
    width: 80%;
    overflow: auto;
	}
#mostRecentScroll {
  float: right;
  width: 80%;
  margin: 5% 0 5% 0;
	}
.scrollItem img {
  display: none;
	}
#scrollArchive {
  margin-top: 50%;
	}

/* Armies */
#theworld {
  text-align: center;	
  }
#worldIcon {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
	}
.armyContainer {
  display: inline-block;
  position: relative;
  width: 50%;
  float: left;
  overflow: auto;
  padding: 1%;
	}
.armyImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  color: white;
  float: left;
	}
.wrapper{
  position: relative;	
  display: inline-block;
	}
.middle {
  display: block;
  position: absolute;
  text-align: center;
  background-color: rgba(15,15,15,0.7);
  padding: 3% 15%;
  width: 100%;
  bottom:0px;
  min-height: 30%;
	}

.middle img {
  display: none;
	}

.armyText {
  font-size: 1.2em;
  line-height: 0.95em;
	}

}/*--- @media all---*/

/*------- =======2======= ---------*/
@media screen and (min-width:481px) {
/* less MEDIUM (landscape mobile) */

#headerlogo{
	width: 390px;
}
.paragraph {
	text-align: justify;
	}

.centralText{
	margin: 0 12%;
	}
/* Introduction */
	
.flexContainer {
  display: flex;
  width: 100%;
	}

.col-sm {
  display: inline;
	}
	
/* Links inside the navbar */
.link-item {
  margin-bottom: 0px;
  padding: 1%;
}

.list-item {
  padding: 2%;
	}
	
/*army*/
	
.armyContainer {
  width: 33%;
	}
	
}/*--- @media 481px---*/



/*------- =======3======= ---------*/
@media screen and (min-width:641px) {
/* MEDIUM (landscape mobile & tablet) */

#headerlogo{
	width: 490px;
	}
#top_logo{
	position: fixed;
	top: 15px;
	left: 30px;
	z-index: 99;
	}	
#top_logo img{
	height: 25px;
	}
/* The navigation bar */
.navbar-custom {
  min-height: 55px;
	}
.navbar-custom li {
  display: inline-block;
  padding: 0;
  margin: 0;
	}
	
.list-item a {
	padding: 18px 15px;
	}
/* Links inside the navbar */
.link-item {
  margin: 0;
  padding: 0;
	}
.list-item:hover {
  background-color: #000;
	}

/* Introduction */
.centralText{
	margin: 0 16%;
	}
		
/* The Scroll */
.conte {
    width: 100%;
	}
#mostRecentScroll {
  float: left;
  width: 63%;
  margin: 0% 0.5% 5% 0;
	}
.scrollItem img {
  padding: 0 1% 1.3% 0;
  margin: 0;
  width: 16%;
  display: inline-block;
	}
#archives {
  text-align: right;
	}
	
/*army*/	
.armyContainer {
  width: 25%;
	}
	

}/*--- @media 641---*/

/*------- =======4======= ---------*/
@media screen and (min-width:991px) {
/* LARGE (landscape tablet & small desktop screen) */

h2 {
  margin-bottom: 2%;
	}
a:hover {
  transition: color 0.5s;
	}	
#headerlogo{
	width: 590px;
}


/* Header */
#headerlogo {
  max-width: 720px;
	}

/* Introduction */
.paragraph {
	font-size: 1.3em;
	line-height: 1.2em;
	}

/* Parallax image */
#miniatures {
  height: 60%;
  background-attachment: fixed;
	}
#worldmap {
  height: 60%;
  background-attachment: fixed;
	}

/* The Scroll */
#thescroll {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  overflow: auto;
	}
#mostRecentScroll {
  padding: 0;
  margin: 0;
  margin-right: 3%;
  width: 30%;
	}
.scrollItem img {
  padding: 0 1% 1% 0;
  width: 15%;
	}
#archives {
  margin-right: 13%;
	}

/* Armies */

#theWorldText {
  text-align: center;
	}
.armies a:hover{
	color: #FFC85A;
}
.armyText {
	padding: 10px 0 0 0;
  font-size: 1.4em;
  line-height: 1em;
	}
.armyImage {
  transition: 0.5s ease;
  backface-visibility: hidden;
  background:rgba(0,0,0,0.6);
	}
.middle {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(15,15,15,0);
	}
.middle img {
	display: inline-block;
	height: 55px;
	}
.armyContainer:hover .armyImage {
  opacity: 0.3;
	}
.armyImage::after {
  opacity: 0.9;
	}
.armyContainer:hover .middle {
  opacity: 1;
	}

}/*--- @media 991---*/

/*------- =======5======= ---------*/
@media screen and (min-width:1200px) {
/* XLARGE (desktop screen ) */

#top_logo img{
	height: 36px;
	}
#headerlogo{
	width: 690px;
}

/* Introduction */

.columns {
width: 100%;
	}
#introductionText{
	margin: 0 0 60px 0;
	}
.centralText{
	margin: 0;
	}
.col1{
  order: 1;
  width: 25%;
	}
.col2{
  order: 2;
  width: 50%;
	}
.col3{
  width: 25%;
	}
.link-item {
	font-size: 0.9em;
	}	
.list-item a {
	padding: 23px 15px;
	}
	
/* Armies */
.middle {
  top: 40%;
	}
.middle img {
	height: 35px;
	}
.armyText {
  font-size: 1.2em;
	}
	
} /*--- @media 1200---*/


/*------- =======6======= ---------*/
@media screen and (min-width:1441px) {
/* XXLARGE (large desktop screen) */

/* Introduction */
.columns {
  padding: 0;
  margin-bottom: 0;
	}

/* The Scroll */
#archives {
  width: 100%;
  padding-right: 3%;
  font-size: 1.5em;
	}
	/* Armies */
.middle {
  top: 45%;
	}
.middle img {
	height: 45px;
	}
.armyText {
  font-size: 1.3em;
	}

}/*--- @media 1441---*/

/*------- =======7======= ---------*/
@media screen and (min-width:1681px) {
/* more XXLARGE (ultra large desktop screen).  */
	/* Armies */
.middle img {
	height: 55px;
	}
.armyText {
  font-size: 1.4em;
	}
}/*--- @media 1681---*/
