@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
/*--- ========= ---*/
@media only screen {
/* SMALL all device */
/* Global settings */
body {
  background-color: black;
  color: white;
  font-family: 'Crimson Text', regular;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #FFC85A;
  font-family: 'Crimson Text', regular;
}

a:hover {
  color: #FFC85A;
  text-decoration: none;
}

h4 {
  margin-bottom: 2%;
}

.title {
  font-size: 1.6em;
  text-align: center;
}

.paragraph {
    color: #AAAAAA;
    font-size: 1.3em;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
}

.row {
  display: flex;
}

.center {
  text-align: center;
}

.centerContent {
  margin-left: auto;
  margin-right: auto;
}

/* The navigation bar */
.navbar-custom {
  width: 100%;
   background-color: rgba(0,0,0,1);
   list-style: none;
   margin: 0;
   padding: 0;
   top: 0;
   text-align: center;
   position: fixed;
   z-index: 1;
}

.navbar-custom li {
  display: inline;
}

/* Links inside the navbar */
.link-item {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 5px;
  padding: 0 2%;
}

.list-item {
  padding: 0.1%;
}

.list-item a {
  text-decoration: none;

}

#seal {
  display:none;
}

/* Header */
.headerContainer {
  position: relative;
  left: 0;
}

#headerimg {
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  background-image: url("img/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#headerlogo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}


#faction-list {
  font-size: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
}

#faction-list li {
  margin-bottom: 2%;
}

#faction-list img {
  margin: 0 2% 10px 2%;
  max-width: 32px;
}

#facton-list a {
  color: white;
}

.active {
  color: white;
}

/* Introduction */
#introduction {
  margin-top: 3%;
}
#flexContainer {
  display: box;
}

#forum {
  /* margin-top: 3.3%; */
  width: 50%;
}

#introductionText {
}

#rules {
  /* margin-top: 3.3%; */
  width: 50%;
}

#resourcesList {
  list-style-type: none;


}


}/*--- @media all---*/

/*------- =============== ---------*/
@media screen and (min-width:481px) {
/* less MEDIUM (landscape mobile) */
body {
  background-color: violet;
}

#seal {
  display: block;
  top:0;

}

}/*--- @media 481px---*/



/*------- =============== ---------*/
@media screen and (min-width:641px) {
/* MEDIUM (landscape mobile & tablet) */
body {
  background-color: blue;
}

}/*--- @media 641---*/

/*------- =============== ---------*/
@media screen and (min-width:991px) {
/* LARGE (landscape tablet & small desktop screen) */
body {
  background-color: brown;
}

}/*--- @media 991---*/

/*------- =============== ---------*/
@media screen and (min-width:1200px) {
/* XLARGE (desktop screen ) */
body {
  background: yellow;
}

background-color: white; */
} /*--- @media 1200---*/


/*------- =============== ---------*/
@media screen and (min-width:1441px) {
  body {
    background-color: cyan;
  }

/* XXLARGE (large desktop screen) */
}/*--- @media 1441---*/

/*------- =============== ---------*/
@media screen and (min-width:1681px) {
/* more XXLARGE (ultra large desktop screen).  */
body {
  background-color: black;
  color: white;
  font-family: 'Crimson Text', regular;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

a {
  color: #FFC85A;
  text-decoration: none;
}

h4 {
  margin-bottom: 2%;
}

a:hover {
  transition: color 2s;
  color: #94090d;
  text-decoration: none;
}

.title {
  font-size: 1.6em;
  text-align: center;
}

.paragraph {
    color: #AAAAAA;
    font-size: 1.3em;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
}

.row {
  display: flex;
}

.center {
  text-align: center;
}

.centerContent {
  margin-left: auto;
  margin-right: auto;
}

/* The navigation bar */
nav {
  width: 100%;
  background-color: rgba(15,15,15,0.5);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align:center;
  position:fixed;
  z-index: 1;
  top: 0;
  height: 60px;
}

.navbar-custom {
  width: 100%;
  background-color: rgba(15,15,15,0.5);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav li {
  margin: 0 2%;
}

nav ul{
  background-color: rgba(15,15,15,0.5);
  text-align: center;
  list-style:none;
  padding:0 20px;
  padding: 0;
  height: 60px;

}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #FFC85A;
  display: block;
  text-decoration:none;
  float: left;
  height: 65px;
  line-height: 60px;
}

nav ul li:hover {
  background: black;
  color: white;
}

nav ul li:hover > a{
  transition: color 2s;
  color: #94090d;
  text-decoration: none;
}

nav ul li:hover > ul {
  display: block;
  margin: auto;
  height: 350px;
}

nav ul ul {
  background: #000000;
  padding:0;
  display: none;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}

.navbar-custom li {
  text-align: center;
  display: inline-block;
  padding: 0;
  margin-left: 1%;
  margin-bottom: 1%;
}

.sublist .sublist-item {
  font-size: 0.7em;
  padding: 1% 0.75% 0.5%;
  margin: auto;
  width: 11.25%;
  height: 150px;
}


.faction-icons {
  width: 48px;
  height: 48px;
  margin: auto;
  text-align: center;
}


/* Links inside the navbar */
.link-item {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
}

.sublist-item a {
  color: white;
}

.list-item:hover {
  background-color: rgba(16, 16, 16, 0.5);
}

#seal {
  margin-top: 15px;
  margin-bottom:-7px;
}

/* Header */
.headerContainer {
  position: relative;
  text-align: center;
  color: white;
  z-index: -5;
}

#headerimg {
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 70%;
    padding: 0;
    margin: 0;
    z-index: -2;
}

#headerText {
  padding: 2%;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 3em;
  background-color: rgba(16, 16, 16, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Introduction */

#forum {
  width: 100%;
}

#introductionText {
}

#rules {
  width: 100%;
}


/* Dropdown Button */
.dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
   background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  overflow: auto;
   display: none;
   position: absolute;
   background-color: #000000;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content li {
  font-size: 10px;
}
.dropdown-content ul {
  width: 900px;
}
.dropdown-content li img {
  width: 50%;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: white;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:list-item;
}



}/*--- @media 1681---*/
